<section class="starburst starburst--both">
  <div class="outer">
    <div class="inner">
      <div class="gradient-wrap">
        <div class="gradient"></div>
      </div>
      <div class="gradient-wrap">
        <div class="gradient"></div>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-wrap align-items-center">
    <img src="../assets/community_camping_logo.png" class="zindex-sticky  mx-auto" />
  </div>
</section>
<section>
  <div class="container container-fluid d-flex flex-column text-center justify-content-center">
    <div class="content">
      <div class="row">
        <div class="col d-flex flex-column">
          <div class="content-2 mt-7">
            <h1>Community Camping 2024</h1>
          </div>
        </div>
      </div>
      <div class="row dummy">
      </div>
      <div class="row">
        <div class="col">
          <div class="content-3">
            <h1>{{ countdown }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
